<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>My Waiter Api</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Press+Start+2P&display=swap" rel="stylesheet">
        <style>
            body {
                font-family: 'Press Start 2P', cursive;
            }
        </style>
    </head>
    <body>
        <h1 style="text-align:center">My Waiter Api</h1>
        <h2 style="text-align:center">Available Api's:</h2>
        <div style="text-align: center; width: 100%">
            <a href="https://my-waiter.de/api/doc/admin">Admin</a>
            <a href="https://my-waiter.de/api/doc/shop/">Shop</a>
        </div>
    </body>
</html>
